body{
background-image: linear-gradient(rgba(0,0,50,0.8),rgba(0,0,50,0.8)),url(/static/images/afterlogin1.jpg);
background-size: cover;
}
#services_and_work{
display:flex;
padding: 30px 0px;
position: relative;
overflow:hidden;
min-height:100vh;
background:rgba(0,0,0,0);
}

/*This is  for navigation bar for afterloginpafe*/

nav a img{
 height:50px;
 width:200px;
 margin-left:0px;
 border:2px solid red;
}

nav{
display: flex;
padding: 2% 6%;
justify-content: space-between;
align-item:center;
display: inline-block;
}
.nav-links{
flex;1;  /*so it can occupy all the space in the row*/
text-align: right;
}
.nav-links ul li{
list-style:none;
display: inline-block;
padding:3px 3px;
position:relative;
}
.nav-links ul li a{
text-decoration: none;
color: white;
margin-right: 20px;
font-size: 20px;
font-family: 'Kanit', sans-serif;
font-family: 'Teko', sans-serif;
font-family: 'Ubuntu', sans-serif;
}

.nav-links ul li::after{
   content:'';
   width:0%;
   height:2px;
   background: #F93535;
   /*margin:auto;*/
   display: block;
   transition:0.5s;
}

.nav-links ul li:hover::after{
   width:80%;
}

nav .image{
width: 90px;
height: 90px;
padding: 2px;
border: 2px solid blueviolet;
background: #fff;
border-radius: 50%;
margin-bottom: 5px;
}
nav .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/*nav i{
display:none;
}*/

 /* ending This is  for navigation bar for afterloginpafe*/
/*testing*/
nav{
  display: flex;
  width:100%;
  align-items: center;
  justify-content: space-between;
/*  flex-wrap: wrap;*/
}

.logo{
width:100px;
}

nav ul li{
 display:inline-block;
 list-style: none;
 margin: 10px 10px;
}
nav ul li a{
  font-family: 'Teko', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  color:#fff;
  text-decoration: none;
  font-size:23px;
  margin: 10px 10px;
  position:relative;
}

nav ul li a::after{
  content:'';
  width:0;
  height:3px;
  background: #ff004f;
  display:block;
  position:absolute;
  left: 0px;
  bottom; -8px;
  transition:0.5s;
}
nav ul li a:hover::after{
width:100%;
}

nav i{
display:hidden;
}

/*end testing*/

/*Nevigation bar for smalls creen*/

@media only screen and (max-width: 600px){
   nav ul li a{
    font-size: 20px;
    padding:10px;
    margin-top: 15px;
    }
  nav ul{
   margin-bottom:-8px;
    }
  .header-text h1{
  margin-top: -60px;
  font-size:30px;
  }
 .header-text h1 span{
  font-size:30px;
 }

 .header-text{
  width:0%;
  margin-top:200px;
 }
 #top-image{
    background repeat: no-repeat;
    display:block;
    background-image: url(images/small-top.png);
    height:475px;
    width:800px;
    margin-top:100px;
    margin-right:-10px;
}
nav .fa-solid{
display:block;
font-size:25px;
}
nav ul{
 background:#EE3332;
 position: fixed;
 top: 0;
 right:-170px;
 width:170px;
 height: 100vh;
 padding-top:50px;
 padding-left: 0px;
 margin-top:0px;
 z-index:2;
 transition:right 0.5s;
}

nav ul li{
  display:block;
  margin-left:25px;
  padding-left:10px;
}

nav ul li a{
margin-left: -5px;
margin-top: 20px;
margin-bottom:20px;
}
nav ul li a span{
margin-bottom:10px;
}
nav ul i{
position:absolute;
top:10px;
left:42px;
cursor:pointer;
}
nav i{
color:white;
}
}
/*ending small screen navigation bar */

.background-bg{
position:absolute;
top:0;
lest:0;
min-width:100%;
min-height:100%;
z-index:-1;
}

.services-list{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
grid-gap: 40px;
margin-top:100px;
}
.services-list div{
background:#E1D2DB;
padding: 15px;
font-size:13px;
font-weight:300px;
border-radius:10px;
transition: background 0.5s, transform 0.5s;

}
.services-list div svg{
height: 50px;
width:50px;
font-size: 50px;
margin-bottom:30px;
}

.services-list div a{
text-decoration:none;
color:#fff;
font-size: 15px;
margin-top: 10px;
background-color: #fa0f4b;
border-radius:10px;
padding: 3px;
margin-left: 40%;

}

.services-list div p{
font-size: 15px;
}

.services-list div:hover{
background: #FF4A4A;
transform: translateY(-10px);
}

/*This is for know more section in our services */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


.card-contents{
/*  padding: 1rem;*/
/*  text-align: justify;*/
}

p{
  font-size: 0.8em;
  margin-bottom: 1rem;
}

.card__read-more{
  display: block;
  opacity: 0;
  height: 0;
  transition: all 0.5s;
}

.card__read-more--open{
  display: block;
  opacity: 1;
  height: 50%;

}

.read-more-btn{
  display: inline-block;
  color: var(--accent);
  background-color: #eee;
  padding: 0.8rem 1.5rem;
  font-size: 1em;
  position: relative;
  z-index: 1;
  transition: all 0.5s;
  cursor: pointer;
}

.read-more-btn:hover{
  background-color: #fff;
  box-shadow: 0 0 2rem rgba(0,0,0,0.1);
  transform: translateY(-3px);
}

/* This is ending for the know more section in our services */

/*From here I am woking on our plan section*/

.our-plan-heading{
text-align: center;
margin-top:5px;
color:#FFFFFF;
position:relative;
}

.our-plan-heading h1{
margin-top:3%;
font-size: 35px;
margin-bottom:20px;
color:white;
position:relative;
}
.our-plan-heading h1::after{
content:'';
width:350px;
height:4px;
border-radius:3px;
background:#FF2329;
position:absolute;
bottom:-10px;
left:50%;
transform:translateX(-50%);
}



/* This below code for user login my plan section and add to card section*/

.our-plan-products{
    margin: 0;
    font-family: Poppins;
}
.our-plan-products-container{
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}
svg{
    hight:30px;
    width: 30px;
    color:white;
}
.our-plan-products-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.icon-cart{
    position: relative;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}
.title{
    font-size: xx-large;
    color:white;
}
.listProduct .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}
.listProduct .item button{
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
}

/* cart */
.cartTab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}
body.showCart .cartTab{
    right: 0;
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .close{
    background-color: #eee;
}
.listCart .item img{
    width: 100%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
}
/*This above  code for user login my plan section and add to card section*/