*{
margin:0;
padding:0;
}
.header{
color: white;
min-height:100vh;
width:100%;
background-image: linear-gradient(rgba(4,6,30,0.7),rgba(4,6,30,0.7)),url(/static/images/back1.jpg);
background-position:center;
position:relative;
background-color:yellow;
border: 2px solid red;
background-size: cover;
}


.header nav a img{
 height:50px;
 width:200px;
 margin-left:0px;
 border:2px solid red;
}

nav{
display: flex;
padding: 2% 6%;
justify-content: space-between;
align-item:center;
}
.nav-links{
flex;1;  /*so it can occupy all the space in the row*/
text-align: right;
}
.nav-links ul li{
list-style:none;
display: inline-block;
padding:12px 12px;
position:relative;
}
.nav-links ul li a{
text-decoration: none;
color: white;
margin-right: 20px;
font-size: 20px;
font-family: 'Kanit', sans-serif;
font-family: 'Teko', sans-serif;
font-family: 'Ubuntu', sans-serif;
}

.nav-links ul li::after{
   content:'';
   width:0%;
   height:2px;
   background: #F93535;
   /*margin:auto;*/
   display: block;
   transition:0.5s;
}

.nav-links ul li:hover::after{
   width:80%;
}

.header-content{
display:flex;
column-gap:5px;
}
.header-left{
height:60%;
width:120%;
border: 2px solid green;
}

.header-right{
border:3px solid red;
width:70%;
margin-right:60px;
border-radius: 20px;
background-color:rgba(35, 26, 26,0.6);
}

.header-right h1{
padding-top:20px;
padding-bottom:15px;
text-align:center;
font-family: 'Kanit', sans-serif;
font-family: 'Teko', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-size:24px;
}

.header-right form{
display: grid;
place-items: center;
height: 60vh;
width:100%;
}
/*This class I have named in form.py */
.form-cont{
margin: 6px 0px;
background-color:white;
height:40px;
}

.header-right p{
padding-bottom:20px;
margin: 0px 40px;
}

.header-right button{
margin-top:0%;
margin-left:0%;
justify-content:center;
padding:10px;
border-radius:15px;
font-size: 15px;
background-color:rgb(255, 35, 17);
}
.header-right button:hover{
 background-color:#9F0100;
 transform:translate(1px);
 cursor: pointer;
}

.header-right p button a{
color: black;
text-decoration: none;
border:2px solid red;
background-color:rgb(255, 35, 17);;
border-radius:10px;
padding:0p 0px 0px 0px;
text-decoration:none;
}

.header-top-left h1{
font-family: "Roboto", sans-serif;
font-weight: 1.5rem;
font-style: normal;
font-size: 2rem;
color:white;
position:relative;
text-align:center;
}

.header-top-left h1::after{
   margin:0% 40%;
   content:'';
   width:20%;
   height:3px;
   background: #F93535;
   /*margin:auto;*/
   display: block;
   transition:0.5s;
}

.client-logo{
display: grid;
/*grid-template-rows:repeat(6,1fr);*/
grid-template-columns:repeat(5,1fr);
row-gap:20px;
column-gap:20px;

}

.client-logo img{
height:100px;
width:120px;
}

/*_____________from here about section css-----------------*/

.about{
background-image: linear-gradient(rgba(4,6,30,0.7),rgba(4,6,30,0.7)),url(/static/images/about.jpg);
background-position:center;
background-color:yellow;
border: 2px solid red;
background-size: cover;
}

.about_heading{
text-align: center;
margin-top:5px;
color:#FFFFFF;
}
.about_heading-p{
text-align: justify;
margin:0% 10%;
font-size:20px;
color: #FFFFFF;
}
.choose{
text-align:center;
border: 2px solid red;
margin: 1% 10%;
border-radius:15px;
background-color:rgb(255, 35, 17);
}


/*slider code, why to choose us  */

#slider {
   margin: 0 auto;
   width: 800px;
   max-width: 100%;
   text-align: center;
}
#slider input[type=radio] {
   display: none;
}
#slider label {
   cursor:pointer;
   text-decoration: none;
}
#slides {
   padding: 10px;
   border: 3px solid #ccc;
   background: #fff;
   position: relative;
   z-index: 1;
}
#overflow {
   width: 100%;
   overflow: hidden;
}
#slide1:checked ~ #slides .inner {
   margin-left: 0;
}
#slide2:checked ~ #slides .inner {
   margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
   margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
   margin-left: -300%;
}
#slides .inner {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 400%;
   line-height: 0;
   height: 300px;
}
#slides .slide {
   width: 25%;
   float:left;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   color: #fff;
}
#slides .slide_1 {
   background: #00171F;
}
#slides .slide_2 {
   background: #003459;
}
#slides .slide_3 {
   background: #007EA7;
}
#slides .slide_4 {
   background: #00A8E8;
}
#controls {
   margin: -180px 0 0 0;
   width: 100%;
   height: 50px;
   z-index: 3;
   position: relative;
}
#controls label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 50px;
   height: 50px;
   opacity: .4;
}
#controls label:hover {
   opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
   background: url() no-repeat;
   float:right;
   margin: 0 -50px 0 0;
   display: block;
}
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
   background: url() no-repeat;
   float:left;
   margin: 0 0 0 -50px;
   display: block;
}
#bullets {
   margin: 150px 0 0;
   text-align: center;
}
#bullets label {
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius:100%;
   background: #ccc;
   margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
   background: #444;
}
@media screen and (max-width: 900px) {
   #slide1:checked ~ #controls label:nth-child(2),
   #slide2:checked ~ #controls label:nth-child(3),
   #slide3:checked ~ #controls label:nth-child(4),
   #slide4:checked ~ #controls label:nth-child(1),
   #slide1:checked ~ #controls label:nth-last-child(2),
   #slide2:checked ~ #controls label:nth-last-child(3),
   #slide3:checked ~ #controls label:nth-last-child(4),
   #slide4:checked ~ #controls label:nth-last-child(1) {
      margin: 0;
   }
   #slides {
      max-width: calc(100% - 140px);
      margin: 0 auto;
   }
}

/*Ending slider code, why to chose us */

/*starting the user rating slider code***************************************************/
.Userrating-heading{
display: flex;
justify-content:center;
align-items: center;

border: 2px solid red;
margin: 1% 10%;
border-radius:15px;
background-color:rgb(255, 35, 17);
}

.rating_section{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
}
.card {
  position: relative;
  background: #fff;
  border-radius: 20px;
  padding: 20px 60px;
  box-shadow: 0 0 10px #ccc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: background 0.5s, transform 0.5s;
}
.card:hover{
background: #FBFF9A;
transform: translateY(-5px);
}

.card .image {
  width: 150px;
  height: 150px;
  padding: 3px;
  border: 3px solid blueviolet;
  background: #fff;
  border-radius: 50%;
  margin-bottom: 20px;
}
.card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.card h3 {
  text-align: center;
}
/*Read more decoration for card*/

/*@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');*/

.read-more-container{
    display: flex;
    flex-direction: column;
    color: black;
    gap: 1rem;
    font-family: 'Lato',sans-serif;
    justify-content:space-between;
}

.container{
    padding: 2rem;
    background-color: #fff;
    border-radius: 2px;
    line-height: 1.4rem;
    box-shadow: 0 0 1rem rgba(0,0,0,.1);

}

.read-more-btn{
    color: #0984e3;
    cursor:pointer;
}

.read-more-text{
    display: none;
}

.read-more-text--show{
    display: inline;
}
/* ending Read more decoration for card*/

.card p {
  color: orange;
  text-align: center;
}
.swiper-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
}
.swiper {
  margin: 0 auto;
  cursor: grab;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-next,
.swiper-button-prev {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 10px #ccc;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
.swiper-button-next:hover {
  transform: scale(1.2) translateX(80%);
}
.swiper-button-prev:hover {
  transform: scale(1.2) translateX(-80%);
}
.swiper-button-next {
  transform: translateX(100%);
}
.swiper-button-prev {
  transform: translateX(-100%);
}
.swiper-pagination {
  transform: translateY(200%);
}
.swiper-pagination-bullet {
  background: #fff;
  width: 15px;
  height: 15px;
}

/*Ending of user rating slider code*/




