{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta  name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is BKB mian page">
    <meta name="keywords" content="SEO, offpage-seo,search engine optimization, marketing, traffic">
    <meta name="robots" content="INDEX, FOLLOW">
    <title>BKB SEO AND WEB SERVICES</title>
    <!--linking the css file -->
    <link rel="stylesheet" href="/static/BKB.css">
    <!--linking the js file -->
    <script defer src="/static/BKB.js"></script>
    <script defer src="/static/BKB1.js"></script>


    <!--Bootstrap file cdn-->
    <!--    This is for google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Teko:wght@300;400;500;700&family=Ubuntu&display=swap">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@700&family=Roboto+Slab:wght@900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Doodle+Triangles&family=Rubik+Maps&family=Teko:wght@300;500&family=Ubuntu&display=swap">
    <!--font owesome cdn for icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <!--for swipper I have added-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
</head>
<body>
<section class="header">
    <nav>
        <a href="BKB.html"><img src="/static/images/logo.png" alt="logo of BKB"></a>
        <div class="nav-links">
            <ul>
                <li><a href="/ ">HOME</a></li>
                <li><a href="">ABOUT</a></li>
                <li><a href="">OUR-SERVICES</a></li>
                <li><a href="">CONTACT</a></li>
            </ul>
        </div>
    </nav>
    <div class="header-content">
        <div class="header-left">
            <div class="header-top-left">
                <h1>Our Top Clients:</h1>
                <div class="client-logo">
                    <img src="/static/images/our_client_logo/ADSLzone Group.png" alt="ADSLzone Group" class="image">
                    <img src="/static/images/our_client_logo/Anti-Malware.png" alt="ADSLzone Group" class="image">
                    <img src="/static/images/our_client_logo/malware-bytes.png" alt="anti-malware" class="image">
                    <img src="/static/images/our_client_logo/data-flair-training.jpg" alt="data-flair-training" class="image">
                    <img src="/static/images/our_client_logo/Futurenet.png" alt="Futurenet" class="image">
                    <img src="/static/images/our_client_logo/IDG Group.jpg" alt="IDG Group" class="image">
                    <img src="/static/images/our_client_logo/ldplayer-net.png" alt="ldplayer-net" class="image">
                    <img src="/static/images/our_client_logo/Logaster.png" alt="Logaster" class="image">
                    <img src="/static/images/our_client_logo/mmog_logo_bg.png" alt="mmog_logo_bg" class="image">
                    <img src="/static/images/our_client_logo/mobil-se.png" alt="mobil-se" class="image">
                    <img src="/static/images/our_client_logo/onlinepc-ch.png" alt="onlinepc-ch" class="image">
                    <img src="/static/images/our_client_logo/podtail.jpg" alt="podtail" class="image">
                    <img src="/static/images/our_client_logo/screenrent.jpg" alt="screen-rent" class="image">
                    <img src="/static/images/our_client_logo/Teknologi-id.png" alt="Teknologi-id" class="image">
                    <img src="/static/images/our_client_logo/goodereader.png" alt="ADSLzone Group" class="image">
                    <img src="/static/images/our_client_logo/logo.png" alt="BKB.com" class="image">
                    <img src="/static/images/our_client_logo/Androidveda.jpeg" alt="BKB.com" class="image">
                </div>
            </div>
        </div>
        <div class="header-right">
           <h1>Get A Free SEO Audit:</h1>
            <form id="myForm" onabort="" name="KBK_form" action="{% url 'saveform' %}" method="post">
                {% csrf_token %}
                {{form}}
                <!--<span style="color:red;">{{msg}}</span>-->
                <button id="button-ref" type="submit" value="RESET" onclick="resetForm()">Submit For 1st Free Audit</button>
            </form>
            {% if form.errors %}
             <div class="alert alert-danger">
                     <strong>Error(s):</strong>
                     <ul>
                     {% for message in form.errors %}
                     <li>{{ message }}</li>
                     {% endfor %}
                     </ul>
             </div>
             {% endif %}

            <p>If you've used our free service than please, <button><a href="/signup">SignUp</a></button> or <button><a href="signin">SignIn</a></button> to connect with us for more specialized services!</p>
        </div>
    </div>
</section>
<section class="about">
    <div class="about_heading">
      <h1>About Us:</h1>
    </div>
    <div class="about_heading-p">
    <p>Welcome to BKB Seo and Web Services, your trusted partner for effective Off-Page SEO services!, we specialize in
        enhancing your online visibility and driving organic traffic to your website through strategic off-page optimization
        techniques like Link Building , Social media marketing, Local SEO etc.
    </div>
    <div class="choose">
        <h4>Why To Choose Us:</h4>
    </div>

    <!--From here we have slider code. -->
<i class="fa-solid fa-arrow-left"></i>
    <div id="slider">
   <input type="radio" name="slider" id="slide1" checked>
   <input type="radio" name="slider" id="slide2">
   <input type="radio" name="slider" id="slide3">
   <input type="radio" name="slider" id="slide4">
   <div id="slides">
      <div id="overflow">
         <div class="inner">
            <div class="slide slide_1">
               <div class="slide-content">
                  <h2>Expertise and Experience<h2>
                  <p>"Unlock Success with Our Decades of SEO Expertise."</p>
               </div>
            </div>
            <div class="slide slide_2">
               <div class="slide-content">
                  <h2>Proven Results:</h2>
                  <p>"Boost Your Visibility: Delivering Proven SEO Success Stories."</p>
               </div>
            </div>
            <div class="slide slide_3">
               <div class="slide-content">
                  <h2>"From Keywords to Conversions:</h2>
                  <p>Offering Full-Spectrum SEO Services."</p>
               </div>
            </div>
            <div class="slide slide_4">
               <div class="slide-content">
                  <h2>"Client Success Stories:</h2>
                  <p>"Join Our Growing List of Satisfied Customers below:"</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div id="controls">
      <label for="slide1"></label>
      <label for="slide2"></label>
      <label for="slide3"></label>
      <label for="slide4"></label>
   </div>
   <div id="bullets">
      <label for="slide1"></label>
      <label for="slide2"></label>
      <label for="slide3"></label>
      <label for="slide4"></label>
   </div>
</div>
    </div>

<!--userrating section-->

<div class="Userrating-heading">
    <h3>Our Client Review and Appriciation:</h3>
</div>

    <div class="read-more-container">  <!--THIS is targeted by js for show less and more  -->
        <div class="rating_section">
            <div class="swiper-container">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="card">
                                <div class="image">
                                    <img src="/static/images/userimage/7.jpeg" alt="Card Image">
                                </div>
                                <h3>User1</h3>
                                <div class="container">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur
                                        consequuntur delectus
                                        eligendi enim libero officia quas ratione repudiandae rerum ut!
                                        <span class="read-more-text">
                                         Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aut autem exercitationem ipsum labore officiis pariatur perferendis ut? Consectetur ipsum molestias nostrum vitae? Architecto commodi eaque eum, quae quod tempora!
                                         </span>
                                    </p>
                                    <spen class="read-more-btn">
                                        Read More...
                                    </spen>
                                </div>
                            <div class="userrating">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="image">
                                <img src="/static/images/userimage/6.jpg" alt="Card Image">
                            </div>
                            <h3>User2</h3>
                                <div class="container">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur
                                        consequuntur delectus
                                        eligendi enim libero officia quas ratione repudiandae rerum ut!
                                        <span class="read-more-text">
                                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aut autem exercitationem ipsum labore officiis pariatur perferendis ut? Consectetur ipsum molestias nostrum vitae? Architecto commodi eaque eum, quae quod tempora!
                                         </span>
                                    </p>
                                    <spen class="read-more-btn">
                                        Read More...
                                    </spen>
                                </div>
                            <div class="userrating">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="image">
                                <img src="/static/images/userimage/5.jpg" alt="Card Image">
                            </div>
                            <h3>User3</h3>
                                <div class="container">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium deleniti
                                        eos ex harum
                                        labore minima velit! Dicta dignissimos ducimus maiores.
                                        <span class="read-more-text">
                                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam distinctio eveniet fugit porro quasi quibusdam sequi sint voluptatem? Asperiores consequatur dolores doloribus et eveniet illo perferendis reiciendis sunt veritatis, voluptatum?  </span>
                                        </span>
                                    </p>
                                    <spen class="read-more-btn">
                                        Read More...
                                    </spen>
                                </div>
                            <div class="userrating">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="image">
                                <img src="/static/images/userimage/4.jpg" alt="Card Image">
                            </div>
                            <h3>User3</h3>
                                <div class="container">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio eum iure
                                        libero mollitia
                                        quasi ratione repellat repellendus sit totam voluptatem.
                                        <span class="read-more-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, animi asperiores cum cupiditate ducimus earum esse et explicabo impedit minus nemo nihil omnis, optio porro ratione sit vel veniam? Porro.
                    </span>
                                    </p>
                                    <spen class="read-more-btn">
                                        Read More...
                                    </spen>
                                </div>
                            <div class="userrating">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="image">
                                <img src="/static/images/userimage/3.jpg" alt="Card Image">
                            </div>
                            <h3>User4</h3>
                                <div class="container">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci amet
                                        aspernatur, beatae
                                        consequatur excepturi id molestias quidem soluta suscipit.
                                        <span class="read-more-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto labore maxime nesciunt qui. Aut deleniti dolor doloribus eius, enim et excepturi illum libero, modi, mollitia optio quibusdam ratione suscipit ut!
                    </span>
                                    </p>
                                    <spen class="read-more-btn">
                                        Read More...
                                    </spen>
                                </div>
                            <div class="userrating">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="image">
                                <img src="/static/images/userimage/2.jpg" alt="Card Image">
                            </div>
                            <h3>User5</h3>
                                <div class="container">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis
                                        debitis ex
                                        facilis neque nesciunt numquam possimus reprehenderit ullam, voluptate!
                                        <span class="read-more-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur dolore earum esse ex exercitationem fugiat incidunt iure maiores, minima, quod tempore, totam vel. Asperiores assumenda earum illo iusto pariatur.
                    </span>
                                    </p>
                                    <spen class="read-more-btn">
                                        Read More...
                                    </spen>
                                </div>
                            <div class="userrating">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="image">
                                <img src="/static/images/userimage/1.jpg" alt="Card Image">
                            </div>
                            <h3>User6</h3>
                                <div class="container">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore perspiciatis
                                        reiciendis sed?
                                        Est harum hic labore, laboriosam nisi quos saepe.
                                        <span class="read-more-text">
                                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur, consequatur doloremque, dolores explicabo illo inventore iusto laboriosam laudantium molestias neque nesciunt nihil non omnis, quidem quis repellat repudiandae tempora?
                                        </span>
                                    </p>
                                    <spen class="read-more-btn">
                                        Read More...
                                    </spen>
                                </div>
                            <div class="userrating">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
        <!--<script src="/static/BKB.js"></script> --> <!--we donot need this line-->
    </div>
</section>
{% include "footer.html" %} 
</body>
</html>



