<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BKB-footer</title>
    <link rel="stylesheet" href="/static/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!--<link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@700&family=Roboto+Slab:wght@900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Doodle+Triangles&family=Rubik+Maps&family=Teko:wght@300;500&family=Ubuntu&display=swap">-->

</head>
<body>
<footer class="footer">
    <div class="row">
        <div class="col">
            <img src="\static\images\logo.png" alt="BKB SEO&WEB SERVICES">
            <h5>BKB SEO&WEB SERVICES</h5>
            <p>All solution for web App!</p>
        </div>
        <div class="col1">
            <h3>Office:</h3>
            <p>Head Office: Bangalore(Remote),India.</p>
            <p>Branch: Indore(Madhya Pradesh),India.</p>
            <p>+91-7899501656.</p>
        </div>
        <div class="col2">
                <h3>LINKS:</h3>
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">OUR-SERVICES</a></li>
                    <li><a href="#">CONTACTS</a></li>
                </ul>
        </div>
        <div class="col3">
            <h3>CONTACT:</h3>
            <ul>
                <li><a href="" ><i class="fa-solid fa-envelope"></i></a></li>
                <li><a href="" ><i class="fa-solid fa-x"></i></a></li>
                <li><a href="" ><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="" ><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>

        </div>
    </div>
    <hr>
    <p class="copyrights">BKB SEO&WEB SERVICES © All rights reversed 2024</p>
</footer>
</body>
</html>