<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forget Password</title>
    <link rel="stylesheet" href="/static/Forgerpassword.css">
</head>
<body>
<div class="container">
    <div class="form-box">
        <img src="/static/images/logo.png" alt="logo of BKB">
        <h1 id="title">Forget Password:</h1>
        <form method="post"> <!--id="my_signup" onabort="" name="signup" action="{% url 'signup' %}" method="post">-->
            {% csrf_token %}

            {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                <strong>Hello, </strong> {{ message }}.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}

            {{form}}

            <div class="btn-field">
                <span>
                    <a href="/forgetpassword">Submit</a>
                </span>
            </div>

        </form>
    </div>
</div>
</body>
</html>