
*{
margin:0;
padding:0;
}

.header{
color: white;
min-height:100vh;
width:100%;
background-image: linear-gradient(rgba(4,6,30,0.7),rgba(4,6,30,0.7)),url(back1.jpg);
background-position:center;
position:relative;
background-color:yellow;
border: 2px solid red;
background-size: cover;
}


.header nav a img{
 height:50px;
 width:200px;
 margin-left:0px;
 border:2px solid red;
}

nav{
display: flex;
padding: 2% 6%;
justify-content: space-between;
align-item:center;
}
.nav-links{
flex;1;  /*so it can occupy all the space in the row*/
text-align: right;
}
.nav-links ul li{
list-style:none;
display: inline-block;
padding:12px 12px;
position:relative;
}
.nav-links ul li a{
text-decoration: none;
color: white;
margin-right: 20px;
font-size: 20px;
font-family: 'Kanit', sans-serif;
font-family: 'Teko', sans-serif;
font-family: 'Ubuntu', sans-serif;
}

.nav-links ul li::after{
   content:'';
   width:0%;
   height:2px;
   background: #F93535;
   /*margin:auto;*/
   display: block;
   transition:0.5s;
}

.nav-links ul li:hover::after{
   width:80%;
}

.header-content{
display:flex;
column-gap:5px;
}


.thankyou-header h1{
color:#000000;
font-size: 100px;
padding-top:80px;
text-align:center;
font-family: 'Kanit', sans-serif;
font-family: 'Rubik Doodle Triangles', system-ui;
font-family: 'Rubik Maps', system-ui;
font-family: 'Teko', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
.thankyou-header h2{
color:#000000;
text-align:center;
padding:0px 150px 100px 150px;
font-family: 'Kanit', sans-serif;
font-family: 'Rubik Doodle Triangles', system-ui;
font-family: 'Rubik Maps', system-ui;
font-family: 'Teko', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
.thankyou-header{
border: 10px solid #F86E1C;
}
.thankyou-header h3{
font-size: 40px;
text-align:center;
background-color:#F86E1C;
}
.thankyou-box{
background-color:#FFFFFF;
}
<!--now this is for footer -->

.footer{

}
.footer{
display:flex;
column-gap:1%;
background-color:#F86E1C;
}
.footer1{
text-align:center;
background-color:#FFFFFF;
height:29vh;
width:49%;
color:#F86E1C;
margin-left:5px;
}
.footer1 h1{
color:#000000;
margin-top:20px;
font-size:30px;
}
.footer2{
text-align:center;
background-color:#FFFFFF;
height:29vh;
width:49%;
color:#F86E1C;

}
.footer2 h1{
color:#000000;
margin-top:20px;
}
.footer2 button{
margin:40px  100px 80px 100px;
border:4px solid #F86E1C;
border-radius:10px;
padding:16px;
}
.footer2 button a{
text-decoration: none;
}
.social-icon{
margin:30px 0px 0px 250px;
display:flex;
column-gap:5%;
}
.social-icon a i{
height:120%;
width:120%;
transition: transform 0.5s;
}
.social-icon a i:hover{
transform:translateY(-5px);
}